<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<main class="container bg-light text-dark p-5">
    <h5 class="display-4" style="margin: auto; text-align: center;">Awas Jomail</h5>
    <div class="container bg-light p-5">
    <div class="card" style="width: 40rem; margin: auto;">
    <img src="/Assets/images/awas_face.png" class="card-img-top" alt="Awas' picture">
    <div class="card-body">
    <p class="card-text"> An adaptable and detail-oriented student of software engineering with a proven acumen for STEM, including mathematics and technology. Strong critical thinking skills, with experience in programming, database development and applied research.</p>
    <p>Take a look at my <a class="a-link" href="/Assets/pdfs/Awas_Resume.pdf" target="blank">resume</a>.</p>
    </div>
</div>
    </div>
</main>

<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>